@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
}

@layer base {
  body {
    @apply bg-stone-100 text-stone-900;
  }
}
